/Customer Lifecycle Analytics/FLO_CLTV_Prediction/flo_data_20k.csv
/Customer Lifecycle Analytics/FLO_RFM/flo_data_20k.csv
/Measurement Problems/Rating Product and Sorting Reviews in Amazon/amazon_review.csv